body {
    background-color: bisque;
}
.container {
    margin: 50px 0 0 270px;
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.container img:hover {
    width: 30%;
}
#ImageTextuelle {
    background: url(../Images/pexels-photo-414612.jpeg);
    color: transparent;
    font-size: 100px;
    text-align: center;
    background-clip: text;
}
#Emoji {
    text-align: center;
    content: icon;
    font-size: 50px;
} 
.Flex_Test {
    display: flex;
    background-color: transparent;
    flex-direction: row-reverse;
    
}
.Flex_Test > div {
    background-color: rgb(199, 155, 173);
    padding: 30px;
    margin: auto;
    font-size: 60px;
    box-shadow: 10px 5px 5px red;
    
}